{
  "env": {
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:node/recommended", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "promise", "security", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "resolvePaths": ["node_modules/@types"],
        "tryExtensions": [".js", ".json", ".node", ".ts", ".d.ts"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "semi": [2, "always"],
    "no-await-in-loop": "warn",
    "no-process-exit": "warn",
    "no-unused-vars": "off",
    "node/no-missing-import": "off",
    "no-tabs": "error",
    "eqeqeq": ["error", "always"],
    "node/no-unsupported-features/es-syntax": ["error", { "ignores": ["modules"] }],
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2,
        "endOfLine": "auto"
      }
    ]
  }
}
